* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* debug */
[class*="col-"] {
  min-height: 50px;
  background-color: #5ea9be;
  border: solid 1px black;
  /* padding: 2px; */
}

body {
    height: 100vh;
    width: 100vw;
    background: lightgrey;
    font-family: verdana;
}

.flex-prop {
  display: flex;
}

#logo {
    width: 150px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 10px;
}

#logo1 {
  display: none;
}

/* ASIDE */
#sidebar {
  overflow: hidden;
}


aside {
    background: black;
    height: calc(100vh - 100px);
    width: 260px;
    color: grey;
    flex-direction: column;
    justify-content: space-between;
    float: left;
}

aside p {
  font-size: 15px;
  font-weight: bold;
}

aside img {
    width: 30px;
}

aside a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

aside a:hover {
    color: white;
}

aside span:hover {
    background-color: white;
}

aside ul {
    list-style: none;
    padding-left: 20px;
}

aside li {
    padding-top: 12px;
}

aside h3 {
    color: white;
}

a {
    color: grey;
    text-decoration: none;
}

a span {
    font-size: 30px;
    font-weight: bold;
    background-color: grey;
    color: black;
    height: 38px;
    width: 38px;
    text-align: center;
    margin-right: 10px;
}

#playlist {
  font-size: 18px;
  padding-top: 20px;
  padding-left: 20px;
  color: white;
}

#nome_playlist {
  overflow-y: scroll;
  height: 50%;
}

#asidebottom {
    padding-bottom: 30px;
}

#asidebottom a {
    padding-left: 10px;
    padding-left: 15px;
}


#asidebottom .profilepic {
    padding-top: 40px;
}

#asidebottom h3 {
    padding-top: 40px;
}

  .short-text { display: none; }

/* MAIN */

/* CONTAINER GENERALE DESTRA */
/* NAV */
main {
  background: #071b27;
  color: grey;
  height: calc(100vh - 100px);
  width: calc(100vw - 260px);
  flex-direction: column;
  float: left;
  overflow-y: scroll;
}

/* main img:hover {
  opacity: 0.5;
} */

.metal {
  position: relative;
}

.metal:hover .overlay {
  opacity: 0.5;
}

#metalimg {
  position: relative;
}

.overlay {
position: absolute;
/* bottom: 0; */
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.5); /* Black see-through */
color: #f1f1f1;
height: 65%;
width: 100%;
transition: .5s ease;
opacity:0;
color: white;
font-size: 20px;
/* padding: 20px; */
text-align: center;
top: 0;
left: 0;
margin-bottom: 70px;
margin-top: 10px;
margin-right: 50px;
}

.overlay i {
  margin-top: 60px;
  font-size: 70px;
}


/* SECTION1 EFFTTUA UPGRADE */
#section1 {
  background-color: #040f16;
  opacity: 0.7;
  color: grey;
  min-height: 100px;
  width: calc(100vw - 260px);
  flex-direction: column;
  justify-content: center;
  float: left;
  position: fixed;
  top: 0;
}

#section1 a:hover {
  font-size: 17px;
  border: 1px solid white;
  padding: 10px 40px;
  border-radius: 80px;
  color: white;
  background-color: transparent;
}

#upgrade {
  align-self: flex-end;
  padding-right: 15px;
}

#upgrade a {
  opacity: 1;
  font-size: 15px;
  border: 1px solid white;
  padding: 10px 40px;
  border-radius: 80px;
  color: white;
  background-color: transparent;
  margin-right: 10px;
}

/* SECTION2 NAVBAR */
#section2 {
  /* background-color: lightgrey; */
  min-height: 50px;
  /* width: calc(100vw - 260px); */
  flex-direction: column;
  justify-content: center;
  float: left;
  padding-top: 120px;
}

#section2 a:hover {
  color: white;
  border-bottom:3px solid #7FFF00;
}

#navbar {
  align-self: center;
}

#navbar ul {
  list-style: none;
}

#navbar li {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  display: inline;
  padding-right: 15px;
}

/* SECTION3 RECENTLY PLAYED */
#section3 {
  /* background-color: orange; */
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 15px;
  /* width: calc(100vw - 260px); */
  flex-direction: column;
  justify-content: center;
  float: left;
}

#section3 h1 {
  padding-left: 15px;
  color: white;
}

/* SECTION4 IMGSUP */
#section4 {
  /* min-height: 250px; */
  /* width: calc(100vw - 260px);  */
  /* background-color: brown; */
  flex-direction: row;
  justify-content: flex-start;
  /* float: left; */
  flex-wrap: wrap;

}

#section4 img {
  max-height: 200px;
  width: auto;
  padding-top: 10px;
}

#section4 div {
  padding-left: 10px;
  width: 200px;
  margin-left: 20px;
}


.caption {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding-top: 10px;
}

.subcaption {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: grey;
  padding-top: 10px;
}

/* SECTION5 CREATO PER JOHN DOE*/
#section5 {
  /* background-color: orange; */
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 15px;
  /* min-height: 75px; */
  /* width: calc(100vw - 260px); */
  flex-direction: column;
  justify-content: flex-start;
}

#section5 h1 {
  padding-left: 15px;
  color: white;
}

#section5 p {
  padding-left: 15px;
  color: grey;
  padding-top: 10px;
}


/* SECTION6 IMGSCENTER */
#section6 {
  /* min-height: 250px; */
  /* width: calc(100vw - 260px);  */
  /* background-color: brown; */
  flex-direction: row;
  justify-content: flex-start;
  /* float: left; */
  flex-wrap: wrap;

}

#section6 img {
  max-height: 200px;
  width: auto;
  padding-top: 10px;
}

#section6 div {
  padding-left: 10px;
  width: 200px;
  margin-left: 20px;
}

/* SECTION7 ARTISTI PIÙ POPOLARI*/
#section7 {
  /* background-color: orange; */
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 15px;
  /* height: 50px;
  width: calc(100vw - 260px); */
  flex-direction: column;
  justify-content: center;
  float: left;
}

#section7 h1 {
  padding-left: 15px;
  color: white;
}

#section7 p {
  padding-left: 15px;
  color: grey;
  padding-top: 10px;
}

/* SECTION8 IMGSDOWN */
#section8 {
  /* min-height: 250px; */
  /* width: calc(100vw - 260px);  */
  /* background-color: brown; */
  flex-direction: row;
  justify-content: flex-start;
  /* float: left; */
  flex-wrap: wrap;
}

#section8 img {
  max-height: 200px;
  width: auto;
  padding-top: 10px;
}

#section8 div {
  padding-left: 10px;
  width: 200px;
  margin-left: 20px;
}

#lana, #einaudi {
  border-radius: 100%;
}


/* #section4, #section6, #section8 span {
  font-weight: bold;
  color: white;
} */



/* FOOTER */
footer {
    background: #171313;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    flex-direction: row;

}

/* sottoblocco sinistra */
.left_block1 {
  align-items: center;
  padding-left: 10px;
  /* flex-basis: 300px; */
  width: 33%;
  justify-content: flex-start;
  display: flex;
}

.left_block1_img img {
  height: 60px;
  width: 60px;
  display: inline-block;

}

.left_block1_text {
  align-self: center;
  text-align: left;
  /* padding-right: 60px; */
  padding-left: 15px;
  color: grey;
  font-weight: bold;
  font-size: 12px;
}

#lana {
  color: white;
}

.left_block1_icons {
  align-self: center;
  text-align: left;
  /* padding-right: 60px; */
  padding-left: 40px;
  /* flex-basis: 100px; */
  color: grey;
}

/* sottoblocco centro */
.left_block2 {
  /* flex-basis: 250px; */
  justify-content: center;
  width: 33%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#circle {
  font-size: 30px;
}

#circle:hover {
  font-size: 40px;
}

.left_block2_icons {
  /* height: 30px;
  width: 180px; */
  height: 40%;
  width: 100%;
  /* width: 28%; */
  align-self: center;
  padding-bottom: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left_block2_icons i {
  /* margin-left: 12px;
  align-self: center; */
  font-size: 15px;
  text-align: center;
  margin-left: 15px;
  align-self: center;
}

.left_block2_bar {
  height: 5px;
  width: 75%;
  background-color: white;
  /* align-self: center;
  flex-direction: row; */
  display: inline;
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  position: relative;
}

.left_block2_bar_green {
  height: 5px;
  width: 50%;
  background-color: green;
  /* align-self: center;
  flex-direction: row; */
  display: inline;
  margin-top: 7px;
  /* margin-left: 10px;
  margin-right: 10px; */
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}



.bl1 {
  float: left;
  display: inline;
  color: white;
}

.bl2 {
  float: left;
  display: inline;
  text-align: right;
  color: white;
}

.barcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

/* sottoblocco destra */
.left_block3 {
  /* flex-basis: 250px; */
  justify-content: flex-end;
  width: 33%;
  display: flex;
  flex-direction: row;
  float: right;
}

.left_block3_icons {
  align-self: center;
  padding-bottom: 10px;
  color: white;
}

.left_block3_icons i {
  padding-right: 8px;
}

.left_block3_bar {
  height: 5px;
  width: 45%;
  background-color: white;
  /* align-self: center;
  flex-direction: row; */
  display: inline;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 7px;
}



/* MEDIA QUERIES */
@media screen and (min-width: 0px) and (max-width: 768px) {
  #logo {
      width: 150px;
      padding-top: 15px;
      padding-bottom: 20px;
      margin-left: 10px;
      display: none;
  }

  #logo1 {
    display: inline-block;

    font-size: 28px;
    padding-left: 1.5px;
    color: white;
  }

  /* ASIDE */
  #sidebar {
    overflow: hidden;
  }


  aside {
      background: black;
      height: calc(100vh - 100px);
      width: 70px;
      color: grey;
      flex-direction: column;
      justify-content: space-between;
      float: left;
  }

  aside p {
    font-size: 15px;
    font-weight: bold;
    display: none;
  }

  aside img {
      width: 30px;
  }

  aside a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }

  aside a:hover {
      color: white;
  }

  aside span:hover {
      background-color: white;
  }

  aside ul {
      list-style: none;
      padding-left: 20px;
  }

  aside li {
      padding-top: 12px;
  }

  aside h3 {
      color: white;
      display: none;
  }

  a {
      color: grey;
      text-decoration: none;
  }

  a span {
      font-size: 30px;
      font-weight: bold;
      background-color: grey;
      color: black;
      height: 38px;
      width: 38px;
      text-align: center;
      margin-right: 10px;
  }

  #playlist {
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    display: none;
  }

  #nome_playlist {
    overflow-y: scroll;
    height: 50%;
    display: none;
  }

  hr {
    display: none;
  }

  #asidebottom {
      padding-bottom: 30px;
  }

  #asidebottom a {
      padding-left: 15px;
  }

  .short-text {
    display: inline-block;
  }

  .full-text {
    display: none;
  }

  #asidebottom .profilepic {
      padding-top: 40px;
  }

  #asidebottom h3 {
      padding-top: 40px;
  }

  /* MAIN */

  /* CONTAINER GENERALE DESTRA */
  /* NAV */
  main {
    background: #071b27;
    color: grey;
    height: calc(100vh - 100px);
    width: calc(100vw - 70px);
    flex-direction: column;
    float: left;
    overflow-y: scroll;
  }

  main img:hover {
    opacity: 0.5;
  }

  /* SECTION1 EFFTTUA UPGRADE */
  #section1 {
    background-color: #040f16;
    opacity: 0.7;
    color: grey;
    min-height: 100px;
    width: calc(100vw - 70px);
    flex-direction: column;
    justify-content: center;
    float: left;
    position: fixed;
    top: 0;
  }

  #section1 a:hover {
    font-size: 17px;
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 80px;
    color: white;
    background-color: transparent;
  }

  #upgrade {
    align-self: flex-end;
    padding-right: 15px;
  }

  #upgrade a {
    opacity: 1;
    font-size: 15px;
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 80px;
    color: white;
    background-color: transparent;
    margin-right: 10px;
  }

  /* SECTION2 NAVBAR */
  #section2 {
    /* background-color: lightgrey; */
    min-height: 50px;
    /* width: calc(100vw - 260px); */
    flex-direction: column;
    justify-content: center;
    float: left;
    padding-top: 120px;
  }

  #section2 a:hover {
    color: white;
    border-bottom:3px solid #7FFF00;
  }

  #navbar {
    align-self: center;
  }

  #navbar ul {
    list-style: none;
  }

  #navbar li {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: inline;
    padding-right: 15px;
  }

  /* SECTION3 RECENTLY PLAYED */
  #section3 {
    /* background-color: orange; */
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
    /* width: calc(100vw - 260px); */
    flex-direction: column;
    justify-content: center;
    float: left;
  }

  #section3 h1 {
    padding-left: 15px;
    color: white;
  }

  /* SECTION4 IMGSUP */
  #section4 {
    /* min-height: 250px; */
    /* width: calc(100vw - 260px);  */
    /* background-color: brown; */
    flex-direction: row;
    justify-content: flex-start;
    /* float: left; */
    flex-wrap: wrap;

  }

  #section4 img {
    max-height: 200px;
    width: auto;
    padding-top: 10px;
  }

  #section4 div {
    padding-left: 10px;
    width: 200px;
    margin-left: 20px;
  }


  .caption {
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
  }

  .subcaption {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: grey;
    padding-top: 10px;
  }

  /* SECTION5 CREATO PER JOHN DOE*/
  #section5 {
    /* background-color: orange; */
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
    /* min-height: 75px; */
    /* width: calc(100vw - 260px); */
    flex-direction: column;
    justify-content: flex-start;
  }

  #section5 h1 {
    padding-left: 15px;
    color: white;
  }

  #section5 p {
    padding-left: 15px;
    color: grey;
    padding-top: 10px;
  }


  /* SECTION6 IMGSCENTER */
  #section6 {
    /* min-height: 250px; */
    /* width: calc(100vw - 260px);  */
    /* background-color: brown; */
    flex-direction: row;
    justify-content: flex-start;
    /* float: left; */
    flex-wrap: wrap;

  }

  #section6 img {
    max-height: 200px;
    width: auto;
    padding-top: 10px;
  }

  #section6 div {
    padding-left: 10px;
    width: 200px;
    margin-left: 20px;
  }

  /* SECTION7 ARTISTI PIÙ POPOLARI*/
  #section7 {
    /* background-color: orange; */
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
    /* height: 50px;
    width: calc(100vw - 260px); */
    flex-direction: column;
    justify-content: center;
    float: left;
  }

  #section7 h1 {
    padding-left: 15px;
    color: white;
  }

  #section7 p {
    padding-left: 15px;
    color: grey;
    padding-top: 10px;
  }

  /* SECTION8 IMGSDOWN */
  #section8 {
    /* min-height: 250px; */
    /* width: calc(100vw - 260px);  */
    /* background-color: brown; */
    flex-direction: row;
    justify-content: flex-start;
    /* float: left; */
    flex-wrap: wrap;
  }

  #section8 img {
    max-height: 200px;
    width: auto;
    padding-top: 10px;
  }

  #section8 div {
    padding-left: 10px;
    width: 200px;
    margin-left: 20px;
  }

  #lana, #einaudi {
    border-radius: 100%;
  }


  /* #section4, #section6, #section8 span {
    font-weight: bold;
    color: white;
  } */


}
