* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* debug */
[class*="col-"] {
  min-height: 50px;
  background-color: #5ea9be;
  border: solid 1px black;
  /* padding: 2px; */
}

body {
    height: 100vh;
    width: auto;
    background: lightgrey;
    font-family: verdana;
}

.flex-prop {
  display: flex;
}

#logo {
    width: 150px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 10px;
}

aside {
    background: black;
    width: 260px;
    color: grey;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
}

aside p {
  font-size: 15px;
  font-weight: bold;
}

aside img {
    width: 30px;
}

aside a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


aside ul {
    list-style: none;
    padding-left: 20px;
}

aside li {
    padding-top: 12px;
}


a {
    color: grey;
    text-decoration: none;
}

a span {
    font-size: 30px;
    font-weight: bold;
    background-color: grey;
    color: black;
    height: 38px;
    width: 38px;
    text-align: center;
    margin-right: 10px;
}

#playlist {
  font-size: 18px;
  padding-top: 20px;
  padding-left: 20px;
  color: white;
}

#asidebottom {
    padding-bottom: 30px;
}

#asidebottom a {
    padding-left: 10px;
}


#asidebottom .profilepic {
    padding-top: 40px;
}

#asidebottom h3 {
    padding-top: 40px;
}
